<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta name="applicable-device" content="mobile">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no">
	<base href="http://10.99.13.32:8561/">
	<link rel='stylesheet' href='	http://s.act.cnhubei.com/static/reform/css/common.css' />
	<link rel='stylesheet' href='	http://s.act.cnhubei.com/static/reform/css/weui.min.css' />
	<title>信息</title>
  	<script>
	  (function (doc, win) { 
		var docEl = doc.documentElement,
		  resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
		  recalc = function () {
			var clientWidth = docEl.clientWidth;
			if (!clientWidth) return;
			docEl.style.fontSize = parseInt(100 * (clientWidth / 320) * 320 / 640,10) + 'px';
		  };
		if (!doc.addEventListener) return; 
		doc.addEventListener('DOMContentLoaded', recalc, false);
	  })(document, window);
 	</script>
</head>
<body>
	<div class="weui-cells">
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<p>总票数：</p>
			</div>
			<div class="weui-cell__ft"><%= countMap.totalCount%></div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<p>单位：</p>
			</div>
			<div class="weui-cell__ft"><%= countMap[1]%></div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<p>企业：</p>
			</div>
			<div class="weui-cell__ft"><%= countMap[2]%></div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<p>项目：</p>
			</div>
			<div class="weui-cell__ft"><%= countMap[3]%></div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<p>个人：</p>
			</div>
			<div class="weui-cell__ft"><%= countMap[4]%></div>
		</div>
	</div>
</body>
</html>
